body {
  background-color: rgb(241, 196, 178);
}

#clock {
  color: lightyellow;
  font-size: 195px;
  background-color: black;
  padding: 0.5em 0em;
  width: 80%;
  margin: 0px auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#banner {
  color: wheat;
  font-size: 50px;
  text-align: center;
  background-color: darkcyan;
  padding: 0.5em 0em;
  margin: 10% auto 0%;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  text-transform: uppercase;
}
span {
  margin-left: 175px;
}
