#number1 {
  font-size: 40px;
  font-weight: bold;
  border: 5px solid brown;
  padding: 30px;
}
#number2 {
  font-size: 40px;
  font-weight: bold;
  border: 5px solid brown;
  padding: 30px;
}
#addsign {
  font-size: 40px;
  font-weight: bold;
  padding: 30px;
}
#equalsign {
  font-size: 40px;
  font-weight: bold;
  padding: 30px;
}
input {
  font-size: 20px;
  height: 30px;
  font-weight: bold;
  background-color: coral;
  border: 5px solid black;
}
#main {
  background-color: skyblue;
  display: block;
  width: 800px;
  margin: auto auto;
  margin-top: 100px;
}
h1 {
  text-align: center;
}

button {
  font-size: 20px;
  margin: 30px;
  padding: 5px;
  background-color: black;
  color: aliceblue;
}
